# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app
ecommerce

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Visual Studio files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.suo
*.tlog
*.lastbuildstate
.vs/
x64/
Debug/
Release/

# Code::Blocks files
*.layout
*.depend

# CodeLite files
*.codelite-workspace
*.codelite

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Mac specific
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Linux specific
*~

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# CLion
.idea/
cmake-build-*/

# Archives
*.zip
*.tar.gz
*.rar